.places {
  max-width: 984px;
  list-style: none;
  margin-top: 92px;
  margin-bottom: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 450px) {
  .places {
    max-width: 320px;
    margin-top: 64px;
  }
}