.places {
  width: 100%;
  max-width: 984px;
}

@media screen and (max-width: 1200px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 1000px) {
  .places {
    max-width: calc(100% - (24px * 2));
  }
}

@media screen and (max-width: 750px) {
  .places {
    max-width: 100%;
  }
}
