.places {
  max-width: 984px;
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 880px) {
  .places {
    max-width: calc(100% - 48px);
  }
}


@media screen and (max-width: 768px) {
  .places {
    margin-top: 88px;
  }
}

@media screen and (max-width: 450px) {
  .places {
    max-width: 100%;
    margin-top: 64px;
  }
}