.photogrid__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  width: 100%;
  max-width: calc(100% - (48px * 2));
  gap: 16px;
}

@media screen and (max-width: 1200px) {
  .photogrid__content {
    gap: 14px;
  }

}

@media screen and (max-width: 1000px) {
  .photogrid__content {
    max-width: calc(100% - (24px * 2));
    gap: 16px;
  }
}

@media screen and (max-width: 750px) {
  .photogrid__content {
    max-width: calc(100% - (16px * 2));
    gap: 12px;
  }
}
