.header {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  min-width: calc(100% - 96px);
}

@media screen and (max-width: 768px) {
  .header {
    min-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding-top: 16px;
    min-width: calc(100% - 32px);
  }
}