.content {
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 92px;
}

@media screen and (max-width: 1000px) {
  .content {
    row-gap: 88px;
  }
}

@media screen and (max-width: 750px) {
  .content {
    row-gap: 64px;
  }
=======

>>>>>>> 2c15c1e30eaa7a182dc063e079eaa12e2dc710c8
}
