.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.1;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.3s;
}

.footer__copyright:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .footer__copyright{
    line-height: 1;
    margin-top: 16px;
  }
}