.places__story {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 1000px) {
  .places__story {
    gap: 25px;
  }
}

@media screen and (max-width: 750px) {
  .places__story {
    margin: 0 16px 0;
  }
}
