.intro {
  margin-top: 92px;
  min-width: 984px;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .intro {
    min-width: 928px;
  }
}

@media screen and (max-width: 932px) {
  .intro {
    min-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-top: 88px;
  }
}

@media screen and (max-width: 450px) {
  .intro {
    margin-top: 64px;
  }
}