.cover {
  min-width: calc(100% - 96px);
  margin-top: 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 450px) {
  .cover {
    margin-top: 66px;
  }
}