.cover {
  width: 100%;
  max-width: calc(100% - (48px * 2));
}

@media screen and (max-width: 1200px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .cover {
    margin-top: 2px;
  }
}
