.places__website_link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity 0.3s;
}

.places__website_link:hover {
  opacity: 0.8;
}