.footer {
  min-width: calc(100% - 96px);
  height: 18px;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 88px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    padding-top: 64px;
    padding-left: 18px;
    flex-direction: column;
    align-self: flex-start;
    height: 310px;
  }
}